<form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Search" [(ngModel)]="search" name="inputName"/>
    </mat-form-field>
</form>

<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  
  <mat-button-toggle value="allProducts">All products</mat-button-toggle>

  <mat-button-toggle value="amazonLaunchpad">Amazon Launchpad</mat-button-toggle>
  <mat-button-toggle value="appsAndGames">Apps & Games</mat-button-toggle>
  <mat-button-toggle value="allProducts">Arts, Crafts & Sewing</mat-button-toggle>
  <mat-button-toggle value="amazonLaunchpad">Automotive</mat-button-toggle>
  <mat-button-toggle value="appsAndGames">Books</mat-button-toggle>
  <mat-button-toggle value="allProducts">Camera & Photo</mat-button-toggle>
  <mat-button-toggle value="amazonLaunchpad">Cell Phones & Accessories</mat-button-toggle>
  <mat-button-toggle value="appsAndGames">Computers & Accessories</mat-button-toggle>

  <mat-button-toggle value="allProducts">Home & Kitchen</mat-button-toggle>
  <mat-button-toggle value="amazonLaunchpad">Musical Instruments</mat-button-toggle>
  <mat-button-toggle value="appsAndGames">Office Products</mat-button-toggle>
  <mat-button-toggle value="allProducts">Sports & Outdoors</mat-button-toggle>
  <mat-button-toggle value="amazonLaunchpad">Tools & Home Improvement</mat-button-toggle>
  <mat-button-toggle value="appsAndGames">Toys & Games</mat-button-toggle>
  <mat-button-toggle value="appsAndGames">Video Games</mat-button-toggle>
  
</mat-button-toggle-group>

<main *ngIf="products">
  <mat-card  class="example-card" *ngFor="let product of products | filter:search" style="display: inline-block;">
    <mat-card-header >
      <mat-card-subtitle>{{product.name}}</mat-card-subtitle>
    </mat-card-header>
    <img [attr.src]="product.img">
    <mat-card-content>
      <p>
        price - {{product.price}}
      </p>
      <p>
        asin - {{product.asin}}
      </p>
      <p>
        category - {{product.bsr_category}}
      </p>
      <p>
        <a href="{{product.link}}">link</a>
      </p>
    </mat-card-content>
  </mat-card>
</main>
